[Desktop Entry]
Encoding=UTF-8
Name=Zurcoin Core
Comment=Connect to the Zurcoin P2P Network
Comment[de]=Verbinde mit dem Zurcoin peer-to-peer Netzwerk
Comment[fr]=Zurcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Zurcoin, eşten eşe kriptografik sanal para birimi
Exec=zurcoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/zurcoin;
Categories=Office;Finance;
